.headerContainer {
  background-color: var(--gray-800);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 1.25rem 0;
}

.headerContainer img {
  height: 2rem;
  width: 2rem;
}

.headerContainer h2 {
  font-size: 1.5989375rem;
  line-height: 1.6;
  font-weight: 700;
  color: var(--gray-100);
}
